@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 400 1em/1.6 'Poppins', sans-serif;
  margin: 0;
  color: #111;
}

a {
  color: blue;
}

hr {
  margin: 2em 0;
  border: solid 5px #f5f5f5;
}

/**
 * At least in Chrome, when an element is set to draggable, user select is
 * disabled. Re-enable this to allow the user to copy/cut the data.
 */
[draggable][tabindex] {
  user-select: auto;
  cursor: move;
}

.container {
  max-width: 1000px;
  padding: 1.5em;
  margin: 0 auto;
}

.button {
  display: inline-block;
  background: #111;
  border-radius: 8px;
  color: #fff;
  padding: .4em 1.5em;
  cursor: hand;
  font-weight: normal;
  text-decoration: none;
}

.button:hover {
  background: #000;
}

header {
  background: #ffd966;
}

header strong {
  font-size: 1.4em;
}

header a {
  color: #000;
  font-weight: bold;
}

/* Demo */
.demo .intro {
  font-size: 1.1em;
  text-align: center;
}

.demo .targets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 0 1.5em;
}

.demo .transmitter,
.demo .receiver {
  flex: 1;
  border-radius: 8px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .12s;
  text-align: center;
}

.demo .targets em {
  font-size: .8em;
  font-style: normal;
  opacity: .8;
}

.demo .transmitter {
  cursor: move;
  border: solid 2px #666;
}

.demo .transmitter:hover {
  background: #f0f0f0;
}

.demo .receiver {
  border: dashed 2px #999;
}

.demo .receiver.transfer-active {
  color: black;
  border-color: black;
  background: rgba(255,255,255,.5);
}

.demo .receiver.transfer-hover {
  color: blue;
  border-color: blue;
  background: rgba(0,0,255,.1);
}

.demo .receiver.received {
  color: green;
  border-color: green;
  background: rgba(0, 255, 0, .1);
}

/* Readme */
.readme {
  border-top: solid 5px #f5f5f5;
}

.readme img.payloads {
  float: right;
  margin: .6em 0 .6em 1em;
  width: 300px;
  max-width: 40%;
}

.readme img.json-ld-logo {
  float: right;
  margin: 0 0 0 1em;
  width: 200px;
  max-width: 30%;
}

.readme ol li {
  margin-bottom: 1.5em;
}

/** PrismJS syntax highlighting. */
code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: .95em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	/* This background color was intended by the author of this theme. */
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

